* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}

p::selection,
h1::selection,
h2::selection,
a::selection {
  background-color: #0d47a1;
  color: #fff;
}

/* ***************************
*********** NAV-BAR **********
**************************** */

.nav {
  display: flex;
  align-items: center;
  padding: 1.8rem 2rem;
  gap: 0.3rem;
}

.brand-name {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1.35rem;
  line-height: 1.5;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 2.8rem;
  margin-left: auto;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.5;
}

.nav a {
  text-decoration: none;
  color: #000;
}

/* ***************************
*********** FOOTER **********
**************************** */

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: #202020;
  padding: 3.7rem 0;
}

.brand-name-white {
  color: #ececec;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.3rem;
  letter-spacing: -0.03em;
}

.copyright {
  font-size: 1.2rem;
  color: #d7d7d7;
}
