/* ***************************
*********** MAIN ARTICLE **********
**************************** */

.main-article {
  background-image: url(/images/article-image-hero.png);
  background-size: cover;
  height: 293px;
  /* FIXME */
  /* height: clamp(min-content, 500px, 100%); */

  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 0.8rem;

  padding: 0 2rem 2.5rem 2rem;
}

.main-article-date {
  font-size: 1.2rem;
  line-height: 1.5;
}

.main-article-title {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 3.5rem;
  letter-spacing: -0.03rem;
}

.main-article-title a {
  color: #fff;
  text-decoration: none;
}

.main-article-title a:hover {
  /* FIXME */
  color: #f2f;
}

.main-article-text {
  line-height: 2rem;
}

/* ***************************
  *********** ARTICLES **********
  **************************** */

.article {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;

  margin: 3.4rem 2rem 4.1rem 2rem;
}

.article:nth-child(3) {
  margin: 4.1rem 2rem 4.1rem 2rem;
}

.article:last-of-type {
  margin: 0 2rem 2.7rem 2rem;
}

.article-image {
  height: 232px;
  object-fit: cover;
  border-radius: 3px;
}

.article-date {
  font-size: 1.41rem;
  line-height: 1.782;
}

.article-title {
  color: #141414;
  line-height: 2.6rem;
}

.article-text {
  line-height: 2rem;
  color: #505050;
}

/* ***************************
  *********** VIEW MORE **********
  **************************** */

.more {
  font-weight: 700;
  line-height: 2rem;
  text-align: center;
  margin-bottom: 4.3rem;
}

.more a {
  color: #000;
}
